<%= render 'layouts/header' %>

<h1><%= @workout.name %></h1>

<ul>
  <li><%= @workout.street%></li>
</ul>

<span><%= link_to "Back to Results", location_category_workouts_path, class: "back" %></span>
