<div class="abouts">
  <p id="about-section">
  jetSweat gives you a place to pre-plan your vacation workouts! Unleash your full sweat potential when traveling by first selecting or inputting your final destination and then selecting your desired workout category.
  <br /><br />
  In return, you will receive a list of workout options! If you do not see a desired business that you know exists, feel free to add the workout to that location and category. If you have tried a workout establishment, share your experience with others but adding a comment!
  <br /><br />
  Don't forget to sweat!
  </p>
</div>

<%= render 'layouts/navbar' %>
