#map {
  width: 300px;
  height: 260px;
}
#all-workouts {
  width: 50%;
  height: 500px;
  display: inline-block;
  float: left;
}
#result-map {
  width: 100%;
  height: 600px;
}
li.account:hover {
  border-bottom: 2px solid #ccc;
  opacity: .75;
}
div#mainContent {
  width: 100%;
}
@media (max-width: 700px) {
  #result-map {
    width: 100%;
    height: 200px;
  }
  div#map {
    width: 50px;
    height: 50px;
  }
}
