#rig {
    max-width:900px;
    margin:0 auto;
    padding:0;
    font-size:0;
    list-style:none;
    background-color:white;
}
#rig li {
    display: inline-block;
    width:25%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
.rig-cell {
    margin: 8px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);
    display:block;
    position: relative;
    overflow:hidden;
}
.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #00868b url(img/link.png) no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.8;
}
.rig-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:18px;
    font-weight:bold;
    font-family: 'Oswald', sans-serif;
    top:40%;
    color:white;
    opacity:0;
    transition:all .3s;
}
#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}
@media screen and (max-width: 9000px) {
    #rig li {
        width:25%;
    }
}
@media screen and (max-width: 700px) {
    #rig li {
        width:33.33%;
    }
    .rig-text {
        display:block;
        padding:0 30px;
        box-sizing:border-box;
        position:absolute;
        left:0;
        width:100%;
        text-align:center;
        text-transform:capitalize;
        font-size:18px;
        font-weight:bold;
        font-family: 'Oswald', sans-serif;
        top:40%;
        color:white;
        opacity:0;
        transition:all .3s;
    }
}
@media screen and (max-width: 550px) {
    #rig li {
        width:50%;
    }
    .rig-text {
        display:block;
        padding:0 30px;
        box-sizing:border-box;
        left:0;
        width:100%;
        text-align:center;
        font-size:18px;
        font-weight:bold;
        font-family: 'Oswald', sans-serif;
        top:40%;
        color:white;
        opacity: 0.4;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    #rig li:hover .rig-overlay {
        opacity:0.0;
    }
    #rig li .rig-text {
        opacity:6;
    }
}
