#search {
  width: 75%;
  height: 100%;
  padding: 100px;
  font-size: 100px;
}
#search-bar {
  text-align: center;
  width: 100%;
}
.placeholder {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 25px;
}
#searchsubmit {
  font-size: 50px;
}
p {
  margin-top: -20px;
  font-size: 2rem;
  color: #00868b;
  margin-top: 15px;
}
p#tagline {
  text-align: center;
}
