#search-bar {
  text-align: center;
  width: 100%;
}
#searchsubmit {
  font-size: 50px;
}
p {
  margin-top: -20px;
  font-size: 2rem;
  color: #00868b;
  margin-top: 15px;
}
p.tagline {
  text-align: center;
}
.form {
  font-size: 1.4rem;
  padding-bottom: 20px;
}
.jetAway {
  font-size: 1.4rem;
}
.placeholder {
  font-size: 1.2rem;
  padding: 2px;
}
