#search-bar {
  text-align: center;
  width: 100%;
}
#searchsubmit {
  font-size: 25px;
}
input#search {
  font-size: 1rem;
}
input {
  font-size: 1rem;
}
p {
  margin-top: -20px;
  font-size: 2rem;
  color: #00868b;
  margin-top: 15px;
}
p.tagline {
  text-align: center;
  border-bottom: 2px solid #00868b;
  padding-bottom: 10px;
}
p.city {
  text-align: center;
}
.form {
  font-size: 1.4rem;
  padding-bottom: 20px;
}
.jetAway {
  font-size: 1rem;
}
.placeholder {
  font-size: 1.2rem;
  padding: 2px;
}
#search-form {
  float: right;
  font-size: 25px;
  padding: 0 10px 10px 10px;
}
#search-results {
  color: black;
  font-size: 1rem;
  text-align: right;
}
@media (max-width: 700px) {
  p {
    margin-top: -20px;
    font-size: 1.5rem;
    color: #00868b;
    margin-top: 15px;
  }
  .jetAway {
    font-size: 0.8rem;
    border: 1px solid #A7A2A2;
  }
  .placeholder {
    font-size: 0.8rem;
    padding: 2px;
    text-align: center;
  }
  input#location_city.placeholder {
    border: 1px solid #A7A2A2;
  }
}
