body {
  margin-top: 0;
  font-family: "Nunito", sans-serif;
  background-color: white;
  color: #00868b;
}
#jetsweat {
  background-color: black;
  padding: 50px;
  text-align: left;
  margin: -10px -10px 10px -10px;
  font-size: 80px;
  font-family: "Righteous", serif;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #00868b;
}
ul {
  list-style: none;
}
#navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  margin: 10px;
  float: right;
}
#navbar ul li {
  padding: 90px 50px 5px 5px;
  color: #329ea2;
}
li.signed-in {
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 1.1rem;
}
span.username {
  color: #00868b;
}
.avatar {
  height: 40px;
  margin-left: -45px;
  border: 2px solid black;
  border-radius: 30px;
}
.flash {
  color: white;
  background-color: black;
  margin-top: 10px;
  float: left;
}
li a {
  text-decoration: none;
  color: #00868b;
}
.field {
  color: #00868b;
}
.cancel {
  color: #00868b;
}
#class {
  max-width: 200px;
}
.profile-pic {
  text-align: center;
  padding-top: 20px;
}
.profile-page {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #00868b;
}
button a {
  color: black;
}
li {
  color: black;
}
h1 {
  color: #00868b;
}
a.back {
  color: #00868b;
}
a.add {
  color: #00868b;
}
a.comm {
  color: #00868b;
}
img.profile-pic  {
  margin: 5px;
  border-radius: 50%;
  width: 350px;
  margin: 0 auto;
}
h1.category {
  text-transform: uppercase;
}
p.required {
  color: red;
  font-size: 0.7rem;
}
.city {
  text-transform: uppercase;
}
.yelp {
  color: red;
}
.yelp:hover {
  color: pink;
}
h1#workout-name {
  margin-bottom: -5px;
}
h3.comments {
  text-decoration: underline;
}
.comments {
  font-size: 20px;
  color: #145456;
}
a.comm {
  color: 00868b;
}
a.comm:hover {
  border-bottom: 2px solid #ccc;
  opacity: .75;
}
a.add:hover {
  border-bottom: 2px solid #ccc;
  opacity: .75;
}
.reviewer {
  width: 75%;
  padding: 20px 0 10px 50px;
  border-bottom: 1px solid #ccc;
}
.body {
  padding: 20px;
}
#map {
  border: 2px solid black;
  width: 400px;
  height: 300px;
}
