body {
  margin-top: 0;
  font-family: "Nunito", sans-serif;
  background-color: white;
  color: #00868b;
}
#jetsweat {
  background-color: black;
  padding: 50px;
  text-align: left;
  margin: -10px -10px 10px -10px;
  font-size: 80px;
  font-family: "Righteous", serif;
}
a {
  text-decoration: none;
}
a:hover {
  color: #00868b;
}
a#jet {
  color: white;
}
a#jet:hover {
  color: #00868b;
}
a.result {
  color: #00868b;
}
.about {
  color: #00868b;
  padding: 10px;
}
ul {
  list-style: none;
}
#footer {
  border-top: 2px solid #00868b;
  margin-top: 100px;
  width: 100%;
}
ul.footer {
  width: 100%;
}
#navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  margin: 10px;
  float: right;
}
#navbar ul li {
  padding: 0px 50px 5px 5px;
  color: #329ea2;
}
li.signed-in {
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 1.1rem;
}
span.username {
  color: #00868b;
}
.avatar {
  height: 40px;
  border: 2px solid black;
  border-radius: 30px;
}
li.signed-in {
  margin-right: -40px;
}
.flash {
  color: white;
  background-color: black;
  margin-top: 10px;
  float: left;
}
li a {
  text-decoration: none;
  color: #00868b;
}
.field {
  color: #00868b;
}
.cancel {
  color: #00868b;
}
#class {
  max-width: 200px;
}
.profile-pic {
  text-align: center;
  padding-top: 20px;
}
.profile-page {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #00868b;
}
button a {
  color: black;
}
li {
  color: black;
}
h1 {
  color: #00868b;
}
a.back {
  color: #00868b;
}
a.add {
  color: #00868b;
}
a.comm {
  color: #00868b;
}
img.profile-pic  {
  margin: 5px;
  border-radius: 50%;
  width: 350px;
  margin: 0 auto;
}
h1.category {
  text-transform: uppercase;
  border-bottom: 2px solid #00868b;
  padding-top: 20px;
  margin-bottom: 30px;
}
h1.add-edit {
  border-bottom: 2px solid #00868b;
}
p.required {
  color: red;
  font-size: 0.7rem;
}
.city {
  text-transform: uppercase;
}
.yelp {
  color: red;
}
.yelp:hover {
  color: pink;
}
h1#workout-name {
  margin-bottom: -5px;
  border-bottom: 2px solid #00868b;
}
h3.comments {
  text-decoration: underline;
}
.comments {
  font-size: 20px;
  color: #145456;
}
a.comm {
  color: #00868b;
}
a.comm:hover {
  border-bottom: 2px solid #ccc;
  opacity: .75;
}
a.add:hover {
  border-bottom: 2px solid #ccc;
  opacity: .75;
}
.reviewer {
  width: 75%;
  padding: 20px 0 10px 50px;
  border-bottom: 1px solid #ccc;
}
.body {
  padding: 20px;
}
#all-workouts {
  width: 50%;
  height: 500px;
  display: inline-block;
  float: left;
}
li.result:hover {
  border-bottom: 2px solid #ccc;
  opacity: .75;
  width: 50%;
}
a.cats-back {
  display: block
}
a.back:hover {
  border-bottom: 2px solid #ccc;
  opacity: .75;
}
nav#footer {
  clear: both;
  width: 100%;
  position: static;
}
div#wrapper {
  height: 800px;
  overflow: scroll;
  position: flex;
  padding-left: 50px;
}
li.account:hover {
  border-bottom: 2px solid #ccc;
  opacity: .75;
}
div#content {
  display: inline-block;
  width: 30%;
}
@media (max-width: 700px) {
  #jetsweat {
    background-color: black;
    padding: 50px 50px 25px 50px;
    text-align: left;
    margin: -30px -30px 0px -40px;
    padding-left: -20px;
    font-size: 2.5rem;
    font-family: "Righteous", serif;
  }
  li.account, li.signed-in {
    font-size: 10px;
  }
  div#content {
    height: 500px;
    float: right;
    display: inline-block;
    width: 100%;
    position: fixed;
  }
}
