a.business-name {
  text-decoration: none;
  color: black;
}
a.business-name:hover {
  color: #00868b;
}
a.site {
  text-decoration: none;
  color: black;
}
a.site:hover {
  color: grey;
}
span.hours-header {
  text-decoration: underline;
}
h4.address {
  color: #478D92;  
}
