<%= render 'layouts/header' %>

<p class="tagline">Choose your workout:</p>

<div class="picture-layout">
  <ul id="rig">
    <% @categories.each do |c| %>
      <li>
        <a class="rig-cell" href="/">
          <%= image_tag(c.photo, class: "rig-img") %>
            <span class="rig-overlay"></span>
            <span class="rig-text"><%= c.category %></span>
        </a>
      <% end %>
    </li>
  </ul>
</div>
