<%= render 'layouts/header' %>

<p class="tagline">Choose your workout:</p>

<%= render 'categorypics' %>

<ul>
  <% @categories.each do |c| %>
    <li><%= c.category %></li>
    <% if c.photo %>
      <li><%= image_tag(c.photo) %></li>
    <% end %>
  <% end %>
</ul>
