<ul id="rig">
  <li>
      <a class="rig-cell" href="#">
          <img class="rig-img" src="http://www.meekrealty.net/wp-content/uploads/2012/08/Austin-downtown.jpg" />
          <span class="rig-overlay"></span>
          <span class="rig-text">Austin</span>
      </a>
  </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ94nnvhgph4syJ7FqRQow0MVw-dLt4MeJwjzG0X1DaNgchlghf" />
            <span class="rig-overlay"></span>
            <span class="rig-text">Boston</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSlInbaOueLevf3MhUJDGaI05i8KuMWQ3u6sbDQQ_b7_57NZbxXhw" />
            <span class="rig-overlay"></span>
            <span class="rig-text">Chicago</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="https://lonelyplanetimages.imgix.net/a/g/hi/t/1da32e09c1497a907cda4479049e6b2b-denver.jpg?sharp=10&vib=20&w=1200" />
            <span class="rig-overlay"></span>
            <span class="rig-text">Denver</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="http://professionalcaretakers.com/wp-content/uploads/2014/09/HoustonSkyline.jpg" />
            <span class="rig-overlay"></span>
            <span class="rig-text">Houston</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="http://eskipaper.com/images/la-skyline-3.jpg" />
            <span class="rig-overlay"></span>
            <span class="rig-text">Los Angeles</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="http://foodtruckempire.com/wp-content/uploads/mia.jpg" />
            <span class="rig-overlay"></span>
            <span class="rig-text">Miami</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSxKUQIBtRv3C-O0CATvAYlwhA6IFWVCmgLTneebD8JKXOWQQs2" />
            <span class="rig-overlay"></span>
            <span class="rig-text">New Orleans</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="https://s-media-cache-ak0.pinimg.com/originals/39/60/b6/3960b613c265776676276d276e286a1c.jpg" />
            <span class="rig-overlay"></span>
            <span class="rig-text">New York</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRckHfTcVip4c1RW3EL2sfi-OY8ekDdFARM1wIWcE6VHM645KXE" />
            <span class="rig-overlay"></span>
            <span class="rig-text">San Francisco</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTpwTsUG09iGtbM52OBucVju0zAQsR--dIQmJimUFPtSg0zVg-Y" />
            <span class="rig-overlay"></span>
            <span class="rig-text">Seattle</span>
        </a>
    </li>
    <li>
        <a class="rig-cell" href="#">
            <img class="rig-img" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQ3r_zZTJLzZTgXHjH1_otLIQFEhy_1eB4SLlfZG4mq3SHAphPa" />
            <span class="rig-overlay"></span>
            <span class="rig-text">Washington D.C.</span>
        </a>
    </li>
</ul>
