<p id="tagline">Don't skip your next workout to travel!</p>
<div id="search-bar" class="widget_search">
    <div>
      <%= form_for @location do |f| %>
        <%= f.label :city, "City:" %>
        <%= f.text_field :city %>
        <%= f.submit "jetAway" %>
     <% end %>
    </div>
</div>
