<p class="tagline">Don't skip your next workout to travel!</p>
<div id="search-bar" class="widget_search">
    <div class="form">
      <%= form_for @location do |f| %>
        <%= f.label :city, "Where are you traveling to next?" %>
        <%= f.text_field :city, size: 35, placeholder: "Boston, MA", class: "placeholder" %>
        <%= f.submit "jetAway", class: "jetAway" %>
     <% end %>
    </div>
</div>
