<div id="search-bar" class="widget_search">
  <p id="tagline">Don't skip your next workout to travel!</p>
  <form role="search" method="get" id="searchform">
    <div>
      <input class="placeholder" type="text" placeholder="Where are you traveling to next...">
      <input type="submit" id="searchsubmit" value="Take Off">
    </div>
  </form>
</div>
